body {
  width: 100vw !important;
  height: 100vh !important;
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  background-color: #010b13;
}

#github {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 2em;
  height: 2em;
  margin: 1em;
  padding: 0.3em;
  border-radius: 50%;
  background: white;
}

#githubImg {
  width: 2em;
}

#graph {
  position: absolute;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
